# GEOLOCATE ADDRESSES:
**Interesting resources:** https://towardsdatascience.com/geocode-with-python-161ec1e62b89

In [1]:
import os

while not os.path.abspath(os.curdir).endswith('notebooks'):
    print(os.path.abspath(os.curdir))
    os.chdir('..')

os.chdir('..')  # to get to root
print(os.path.abspath(os.curdir))

C:\Users\MD726YR\PycharmProjects\eyft

In [2]:
import os
import pandas as pd

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

#### Disable SSL 
    import ssl
    orig_sslsocket_init = ssl.SSLSocket.__init__
    ssl.SSLSocket.__init__ = lambda *args, cert_reqs=ssl.CERT_NONE, **kwargs: orig_sslsocket_init(*args, cert_reqs=ssl.CERT_NONE, **kwargs)

#### Import Addresses

In [3]:
dir_name = "./data/02_data_processing"
fname = "ds_flanders.xlsx"

df = pd.read_excel(os.path.join(dir_name, fname))

In [4]:
display(df)

,EPC,Price,Bedrooms,Facades,Updated_Price_Per_m2,Address
0,259.0,325000,3,NaN,2407.407407,"Hendrik De Braekeleerlaan 68,Antwerpen,2630"
1,644.0,174000,2,NaN,1933.333333,"Antwerpsesteenweg 50,Antwerpen,2630"
2,644.0,174000,2,NaN,1933.333333,"Antwerpsesteenweg 5,Antwerpen,2630"
3,206.0,199000,2,NaN,2186.813187,"Hoevelei 194,Antwerpen,2630"
4,229.0,239000,2,NaN,2515.789474,"Leon Gilliotlaan 40,Antwerpen,2630"
...,...,...,...,...,...,...
36059,182.0,895000,6,4.0,1217.687075,"Rijksweg 129,Limburg,3630"
36060,51.0,259000,4,NaN,2158.333333,"Grotestraat 325/1,Limburg,3631"
36061,487.0,265000,3,4.0,2038.461538,"Grotestraat 195,Limburg,3631"
36062,665.0,219000,4,4.0,1990.909091,"rue Varn 5,Limburg,3793"
36063,492.0,239000,3,2.0,1086.363636,"1-Septemberstraat 2,Limburg,3798"

In [5]:
addresses = df['Address'].to_list()

In [11]:
#Creating an instance of Nominatim Class
geolocator = Nominatim(
    user_agent="eyft_68",
)
 
#applying the rate limiter wrapper
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

In [12]:
geocode(addresses[0], country_codes=['be', 'nl'])

Location(Hendrik de Braekeleerlaan, Aartselaar, Antwerpen, Vlaanderen, 2630, België / Belgique / Belgien, (51.1394176, 4.3830817, 0.0))